{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<section class="heading {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
  <div class="headingSub">
    <h1 class="headingTitle">{{@blog.title}}<br><span>{{@blog.description}}</span></h1>
  </div>
</section>
<div class="headerMenu">
{{navigation}}
</div>
{{! Everything inside the #author tags pulls data from the author }}


{{! The main content area on the homepage }}
<main class="mainContent" role="main">
{{#author}}
<section class="authorWrap">
        <div class="authorInner">
        {{#if profile_image}}
          <img alt='{{name}}' src='{{img_url profile_image}}'>
        {{/if}}
        </div>
        <div class="authorDesc">
          <img alt='{{name}}' src='{{img_url profile_image}}'>
          <h4 class="author"><a href="{{url}}" title="{{name}}" rel="author">{{name}}</a></h4>
          {{#if bio}}
          <p class="authorInfo">{{bio}}
          {{#if website}}<span> Say hey: <a href="{{website}}">{{website}}</a></span>{{/if}}
          </p>
          {{/if}}
        </div>
</section>
{{/author}}
{{! The tag below includes the post loop - partials/loop.hbs }}
{{> "loop"}}

</main>
