{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! If we have a tag cover, display that - else blog cover - else nothing }}

<section class="heading tag-head {{#if tag.feature_image}}" style="background-image: url({{tag.feature_image}}){{else}}{{#if @blog.cover_image}} style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}{{/if}}">
  <div class="headingSub {{#if tag.feature_image}}" style="background-color: rgba(255,255,255,0.5);{{/if}}">
    <h1 class="headingTitle">{{tag.name}}<br></h1>
    {{#if tag.description}}
        {{tag.description}}
    {{/if}}
  </div>
</section>
<div class="headerMenu">
{{navigation}}
</div>
{{! The main content area on the homepage }}
<main class="mainContent" role="main">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
</main>
